@import 'vars';
@import 'material-color-prefixed';

.create-award-form {
  .btn-success {
    margin-left: @margin-xs;
  }

  .controls {
    margin-top: @margin-m;
  }

  .award-preview{
    max-width: 48px;
    max-height: 48px;
  }

  .award-upload-icon {
    font-size: 32px;
    color: @md-clr-grey-200;
  }
}