@import 'vars';
@import 'material-color-prefixed';

.awards-list{
  list-style-type: none;
  margin: 0;
  padding: 0;

  .icon-control{
    font-size: 1.5em;
    cursor: pointer;
  }

  .icon-danger {
    color: @md-clr-red-400;
  }
}

.create-award-form {
  .btn-success {
    margin-left: @margin-xs;
  }

  .controls {
    margin-top: @margin-m;
  }

  .award-preview{
    width: 48px;
    height: 48px;
  }

  .award-upload-icon {
    font-size: 48px;
    cursor: pointer;
    color: @md-clr-grey-300;
  }
}