$nsa-base: 4px;

$nsa-avatar-size: $nsa-base * 12;
$nsa-padding-xxs: $nsa-base;
$nsa-padding-xs: $nsa-base * 2;
$nsa-padding-s: $nsa-base * 3;
$nsa-padding: $nsa-base * 4;
$nsa-preview: $nsa-base * 22;
