$nsa-base: 4px;
$nsa-base-font-size: 14px;

$nsa-award-picker-item-height: $nsa-base * 12;
$nsa-avatar-big-size: $nsa-base * 20;
$nsa-avatar-normal-size: $nsa-base * 12;
$nsa-avatar-small-size: $nsa-base * 6;
$nsa-ease-in-out: cubic-bezier(.42, 0, .58, 1);
$nsa-loader-normal-size: $nsa-base * 12;
$nsa-loader-section-height: $nsa-base * 68;
$nsa-padding-xxs: $nsa-base;
$nsa-padding-xs: $nsa-base * 2;
$nsa-padding-s: $nsa-base * 3;
$nsa-padding: $nsa-base * 4;
$nsa-padding-l: $nsa-base * 5;
$nsa-padding-xl: $nsa-base * 6;
$nsa-padding-xxl: $nsa-base * 7;
$nsa-preview: $nsa-base * 22;
$nsa-user-column: $nsa-base * 40;
