@import "vars";

.awards-topic {
  .clearfix();
  margin: @margin-s 0;

  .awards-item {
    margin: @margin-xs;
    float: left;
    width: @awards-topic-item-size;
    height: @awards-topic-item-size;
    position: relative;
  }

  .awards-image {
    max-width:100%;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
  }
}

