.awards-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.awards-list .awards-item .award-edit {
  margin-bottom: 16px;
}
.awards-list .awards-item .award-edit input {
  margin-bottom: 8px;
}
.awards-list .awards-item .item-controls i + i {
  margin-left: 8px;
}
.panel-controls {
  margin-top: 16px;
}
.panel-controls .btn + .btn {
  margin-left: 4px;
}
.create-award-form .award-preview {
  width: 48px;
  height: 48px;
}
.create-award-form .award-upload-icon {
  font-size: 48px;
  cursor: pointer;
  color: #e0e0e0;
}
.grant-award-form .auto-complete {
  margin-bottom: 16px;
}
.grant-award-form .selected-users {
  margin: 8px 0;
}
.grant-award-form .selected-users .row {
  background-color: #fafafa;
}
.grant-award-form .selected-users .row + .row {
  margin-top: 8px;
}
.grant-award-form .selected-users .media .media-left img {
  display: block;
  max-width: 48px;
  height: auto;
}
.grant-award-form .selected-users .media dl {
  margin-bottom: 0;
}
.grant-award-form .selected-users .fa {
  margin: 8px 8px 0 0;
}
.auto-complete {
  position: relative;
  display: inline-block;
  width: 100%;
}
.auto-complete .ac-menu {
  width: 100%;
}
.auto-complete .hover-item {
  background-color: #c8e6c9;
}
.icon-control {
  font-size: 1.5em;
  cursor: pointer;
  color: #757575;
}
.icon-danger {
  color: #ef5350;
}
.icon-ok {
  color: #66bb6a;
}
.icon-disabled {
  color: #eeeeee;
  cursor: auto;
}
