@keyframes slideIn {
  from {
    transform: translate3d(100%, 0, 0);
    opacity: 0; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.manage-awards .award-form__image {
  height: 88px;
  width: 100%; }

.manage-awards .awards-about__details {
  color: #757575; }

.manage-awards .awards-about__header {
  display: flex;
  flex-flow: row nowrap; }

.manage-awards .awards-about__icon {
  flex: 0 0 auto; }

.manage-awards .awards-about__title {
  color: #424242;
  flex: 1 1 auto;
  font-size: 1.5em;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 16px; }

.manage-awards .awards-item {
  display: flex;
  flex-flow: row nowrap; }
  .manage-awards .awards-item__info {
    flex: 1 1 auto;
    margin: 0 16px; }
  .manage-awards .awards-item__image {
    padding: 4px;
    max-width: 100%;
    height: auto; }
  .manage-awards .awards-item__preview {
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #f5f5f5;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    height: 88px;
    width: 88px; }

.manage-awards .awards-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .manage-awards .awards-list li + li {
    margin-top: 16px; }

.manage-awards .image-manager {
  background-color: #fafafa;
  border: 1px solid #f5f5f5;
  height: 100%;
  position: relative;
  width: 100%; }
  .manage-awards .image-manager__content {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    width: 100%; }
  .manage-awards .image-manager__icon {
    color: #bdbdbd;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .manage-awards .image-manager__icon:hover {
    color: #64b5f6; }
  .manage-awards .image-manager__preview {
    padding: 4px;
    max-height: 100%;
    width: auto; }
  .manage-awards .image-manager__remove {
    position: absolute;
    right: 4px;
    top: 4px; }

.manage-awards .aws-avatar {
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  width: 48px; }
  .manage-awards .aws-avatar__icon {
    color: #eeeeee;
    height: 48px;
    font-size: 4rem;
    line-height: 48px;
    text-align: center;
    width: 100%; }

.manage-awards .aws-hidden {
  display: none; }

.manage-awards .panel-controls .btn + .btn {
  margin-left: 8px; }

.manage-awards .round-button {
  cursor: pointer; }
  .manage-awards .round-button__background {
    color: #bdbdbd;
    transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .manage-awards .round-button__background:hover {
    color: #64b5f6; }
  .manage-awards .round-button__background--active {
    color: #2196f3; }
  .manage-awards .round-button__background--danger:hover {
    color: #f44336; }
  .manage-awards .round-button__background--success:hover {
    color: #4caf50; }
  .manage-awards .round-button__icon {
    pointer-events: none; }
  .manage-awards .round-button--animate {
    animation: slideIn 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.manage-awards .tab-content {
  margin-top: 16px; }

.manage-awards .user-search {
  position: relative;
  display: inline-block;
  width: 100%; }
  .manage-awards .user-search__menu {
    width: 100%; }
