/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.ns-awards-profile {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.ns-awards-profile__image {
  align-self: center;
  flex: 0 1 auto;
  margin: 8px;
  width: 32px; }
