/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
.ns-awards-topic {
  display: flex;
  flex-flow: row wrap;
  margin: 8px 0; }

.ns-awards-topic__item {
  flex: 0 0 auto;
  height: 32px;
  margin: 4px;
  width: 32px; }
